[Unit]
Description=Apache Zookeeper Server
Documentation=https://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=forking
User=zookeeper
Group=zookeeper
Environment="JAVA_HOME=/opt/java/jenv/versions/17"
ExecStart=/opt/zookeeper/bin/zkServer.sh --config /opt/zookeeper/conf start
ExecStop=/opt/zookeeper/bin/zkServer.sh --config /opt/zookeeper/conf stop

[Install]
WantedBy=multi-user.target

